.box-group-wantsneeds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.box-wants {
  width: 40%;
}

.box-needs {
  width: 40%;
}

// blueprintjs style

.pt-tab-list {
  margin: 0 0 10px !important;
  padding: 0 !important;
  border-bottom: 1px solid #aaa !important;

  > *:not(:last-child) {
    margin-right: 0 !important;
  }
}

.pt-tab {
  position: relative !important;
  bottom: -1px !important;
  display: inline-block !important;
  padding: 6px 12px !important;
  line-height: normal !important;
  list-style: none !important;
  border: 1px solid transparent !important;
  border-bottom: none !important;
  outline: none !important;
  cursor: pointer !important;

  &[aria-selected='false'] {
    color: inherit !important;
  }

  &[aria-disabled='false']:hover {
    color: inherit !important;
  }

  &[aria-selected='true'] {
    color: #000 !important;
    border-color: #aaa !important;
    border-radius: 5px 5px 0 0 !important;
    background: #fff !important;
    box-shadow: none !important;
  }

  &[aria-selected='true']:hover {
    color: #000 !important;
  }
}

// react-picky style

.picky {
  margin-top: 8px;
}
