.ipl-progress-indicator.available {
  opacity: 0;
}

.ipl-progress-indicator {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  background-color: #f5f5f5;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
  pointer-events: none;
}

.insp-logo-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 98%;
  animation: fadein 436ms;
}

.insp-logo-frame-img {
  width: 150px;
  height: 150px;
  align-self: center;
}

.ipl-progress-indicator-head {
  position: relative;
  overflow: hidden;
  height: 4px;
  background-color: #ccc;
}

.ipl-progress-indicator .first-indicator,
.ipl-progress-indicator .second-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #d10000;
  transform: scaleX(0);
  transform-origin: left center;
}

.ipl-progress-indicator .first-indicator {
  animation: first-indicator 2000ms linear infinite;
}

.ipl-progress-indicator .second-indicator {
  animation: second-indicator 2000ms linear infinite;
}

.ipl-progress-indicator .insp-logo {
  animation: App-logo-spin infinite 20s linear;

  align-self: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes first-indicator {
  0% {
    transform: translate(0%) scaleX(0);
  }
  25% {
    transform: translate(0%) scaleX(0.5);
  }
  50% {
    transform: translate(25%) scaleX(0.75);
  }
  75% {
    transform: translate(100%) scaleX(0);
  }
  100% {
    transform: translate(100%) scaleX(0);
  }
}

@keyframes second-indicator {
  0% {
    transform: translate(0%) scaleX(0);
  }
  60% {
    transform: translate(0%) scaleX(0);
  }
  80% {
    transform: translate(0%) scaleX(0.6);
  }
  100% {
    transform: translate(100%) scaleX(0.1);
  }
}
