.container-mindmap {
  height: 100vh;
  border: 1px solid #ccc;
}

.jsmind-inner {
  overflow: hidden;
  background-color: #fff;
  background-image: url('./grid.gif');
  background-repeat: repeat;
  cursor: grab;
}

.jsmind-inner:active {
  cursor: grabbing;
}

jmnodes.theme-custmetrics jmnode {
  color: #435a66;
  border-radius: 10px;
  background-color: #fff;
}

jmnodes.theme-custmetrics jmnode:hover {
  background-color: #f0f0f0;
}

jmnodes.theme-custmetrics jmexpander {
  z-index: 3;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  line-height: 1.2;
  border-radius: 50%;
  background-color: #fff;
}

jmnode {
  max-width: 500px !important;
}

.btn-group-zoom {
  position: absolute;
  z-index: 4;
  right: 53px;
  bottom: -170px;
  max-width: 50px;
  margin: 30px;
}

.btn-group-zoom button:nth-child(1) {
  margin-bottom: 10px;
}

.btn-group-zoom button {
  width: 50px !important;
  height: 50px !important;
  font-size: 30px !important;
  color: #333 !important;
  border: none !important;
  border-radius: 50%;
  outline: none !important;
  background: #dcdcdc !important;
  box-shadow: none !important;
  cursor: pointer !important;
}

.btn-group-zoom button:hover {
  background: #bbb !important;
}

.btn-group-zoom button:disabled {
  opacity: 0.3 !important;
  cursor: not-allowed !important;

  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=30)' !important;
}
