@import 'susy/sass/susy';
@import 'styles/helpers/variables';

.page-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: content-box;
  height: 45px;
  min-height: 45px;
  margin: 0;
  padding: 22px 60px;
  border-bottom: 1px solid rgba(#000, 0.06);

  @media (max-width: $media-md) {
    padding-right: 30px;
    padding-left: 30px;
  }

  h1 {
    position: relative;
    left: 250px;
    margin: 0 0 2px 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;

    @media (max-width: $media-lg) {
      position: none;
      left: 0;
    }
  }

  ul {
    margin: 0 0 6px 0;
    padding: 0;
    font-size: 13px;
    list-style: none;

    @include susy-clearfix();
  }

  li {
    float: left;
    opacity: 0.6;

    &:after {
      display: inline-block;
      margin: 0 10px;
      opacity: 0.5;
      content: '/';
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
