@import 'styles/helpers/variables';

.menu {
  position: relative;
  top: 6px;

  @media (max-width: $media-md) {
    display: none;
  }
}

.menu-item {
  display: block;
  margin: 0 20px;
  padding: 0;
  cursor: pointer;
  text-align: center;

  span {
    display: block;
    font-size: 11px;
    line-height: 1;
  }

  &:last-child {
    margin-right: 0;
  }
}
