@import 'styles/helpers/variables';

.sidebar-title-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

.sidebar-subtitle {
  margin: 1px 0 0 0;
  font-size: 13px;
  opacity: 0.6;
}

.sidebar-title {
  margin: 0 0 1px 0;
  line-height: 37px;
}

.sidebar .sidebar-title-content {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -10px;
  box-sizing: border-box;
  width: 240px;
  padding: 21px 24px 24px 24px;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(#000, 0.12);
  transform: translateX(100%);

  .form-control {
    height: 32px;
    padding: 0 12px;
    font-size: 13px;
    line-height: 32px;
  }

  form {
    margin: 0;
  }

  ul {
    margin: 12px 0;
    padding: 0;

    li {
      display: block;
      margin: 0;
      padding: 10px 0;
      opacity: 0.7;
      cursor: pointer;

      &:hover {
        opacity: 1;
        color: $color-primary;
      }
    }
  }
}

.sidebar-title-content {
  display: none;

  .sidebar-title-content-open & {
    display: block;
  }
}

.sidebar-title-content-label {
  margin: 0 0 10px 0;
  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
}

.sidebar-title-content-body-more {
  margin: 0 -24px -8px -24px;
  padding: 16px 24px 0 24px;
  border-top: 1px solid rgba(#000, 0.04);
  transition: all 0.2s ease;

  &:hover {
    color: $color-secondary;
  }
}

.sidebar-action {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.sidebar-title-inner {
  margin: -20px -10px 20px -10px;
  padding: 20px 22px 16px 22px;
  border-bottom: 1px solid rgba(#000, 0.03);

  .open & {
    background-color: rgba(#000, 0.04);
  }
}
