.group-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  $color-border: rgba(16, 22, 26, 0.15);

  .pt-card {
    width: 100%;
    border-top: 1px solid $color-border;
    border-right: 0;
    border-bottom: 1px solid $color-border;
    border-left: 1px solid $color-border;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: transparent;
    box-shadow: none;
    cursor: grab;
  }

  .pt-button {
    height: 38px !important;
    min-height: 38px !important;
  }

  .pt-button {
    &.edit-item {
      border-top: 1px solid $color-border;
      border-right: 0;
      border-bottom: 1px solid $color-border;
      border-left: 0;
      border-radius: 0;
    }
  }

  .pt-button {
    &.delete-item {
      border-top: 1px solid $color-border;
      border-right: 1px solid $color-border;
      border-bottom: 1px solid $color-border;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .pt-button .pt-icon {
    z-index: -1;
  }
}
