.page-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #d10000 !important;
  background-attachment: fixed;
  background-size: cover;

  .page-empty-content {
    width: 400px;
    margin: 120px 0;
  }

  .page-empty-container {
    padding: 30px;
    border-radius: 10px;
    background-color: #fff;
  }
}
