html {
  height: 100%;
}

body {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size;
  line-height: 1.15;
  color: $color-font;

  -webkit-font-smoothing: antialiased;
}

a {
  color: $color-font;
  text-decoration: none !important;
}

a:hover {
  color: $color-font;
  text-decoration: none !important;
}

.md-icon {
  display: inline-block;
  overflow: hidden;
  width: 20px;
  height: 20px;
  font-family: $font-icon;
  font-size: 20px;
  font-style: normal;
  line-height: 1;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga' 1;
}

.icons {
  display: flex;
  flex-direction: row;
  margin: 0 -10px;

  flex-wrap: wrap;
}

.icon {
  margin: 10px;
  padding: 16px;
  border: 1px solid rgba($color-black, 0.06);
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 -15px;

  > div {
    flex-grow: 1;
    width: 50%;
    margin: 0 15px;
  }
}

.page-wrapper {
  display: flex;
  min-height: 100%;
}

.content-inner {
  flex-grow: 1;
  box-sizing: border-box;
  padding: 30px 60px;

  &.no-padding-left {
    padding-left: 0;
  }

  &.no-padding-right {
    padding-right: 0;
  }

  &.no-padding-top {
    padding-top: 0;
  }

  .form-group-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .group-title-tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  @media (max-width: $media-lg) {
    width: calc(100vw - 319px);
  }

  @media (max-width: $media-md) {
    padding: 30px 30px;
  }
}

// blueprintjs style

.pt-html-table {
  width: 100%;
}

.pt-overlay {
  z-index: 2000;
}

// react-table style

.ReactTable .rt-thead {
  overflow-y: hidden;

  @media (max-height: $media-sm) {
    overflow-y: scroll;
  }
}

// react-select style

.Select-control {
  border-radius: 0;
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  color: #999;
}

.Select--multi .Select-value {
  color: #333;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
}
