.chart-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart-item {
  width: 30%;
  margin-top: 30px;
}

.chart-item h6 {
  margin-top: 20px;
  text-align: center;
}
