.login {
  a:hover {
    text-decoration: underline !important;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 24px 30px;
    border: 1px solid rgba(#000, 0.06);
    border-bottom: 0;
    background-color: #fff;
  }

  form {
    padding: 30px;
    border: 1px solid rgba(#000, 0.06);
    background-color: #fff;

    .btn-password-mask {
      text-decoration: none !important;
    }
  }

  .btn-register {
    text-align: center;

    > a {
      color: #fff;
    }
  }
}
